<div class="tree-node">
  <div class="tree-node-item d-flex-center gap-md" cdkDrag>
    <div class="tree-node-label d-flex-center gap-sm">
      {{ node?.name }}
    </div>
    <div class="d-flex-center gap-sm">
      <label for="defaultNode">Default</label>
      <input type="radio" name="defaultNode" [value]="node.id" />
    </div>
  </div>

  <ng-container *ngIf="node?.children?.length > 0">
    <div class="tree-node-child" style="margin-left: 20px">
      <app-tree-node
        [ngClass]="{'last-child': last}"
        *ngFor="let childNode of node?.children; let last = last"
        [node]="childNode"
      ></app-tree-node>
    </div>
  </ng-container>
</div>
