.tree-node {
  &-item {
    display: flex;
    align-items: center;
    margin-bottom: 18px;
    gap: 20px;
    background-color: #fff;
    
  }

  &--name {
    display: flex;
    align-items: center;
    gap: 12px;
    cursor: pointer;
    flex: 1;
    padding: 10px 12px;
    border: 1px solid #d3d3d3;
    border-radius: 8px;
    margin-left: 12px;
  }

  &--button {
    visibility: hidden;
    display: flex;
    align-items: center;
    gap: 8px;
    input[name="defaultNode"] {
      cursor: pointer;
    }
  }

  &-item:hover > &--button {
    visibility: visible;
  }

  .tree-node--button.default-node {
    visibility: visible;
  }

}

.tree-node-children {
  margin-left: 25px;
  position: relative;

  &::before {
    content: "";
    position: absolute;
    top: -18px;
    height: 100%;
    width: 1px;
    border-left: 1px solid #d8dcdf;
  }

  .tree-node--name {
    position: relative;
    &::before {
      content: "";
      position: absolute;
      width: 12px;
      height: 1px;
      border-top: 1px solid #d8dcdf;
      top: calc(50% + 3px);
      left: -12px;
    }
  }
}

.cdk-drag-preview {
  background-color: red;
}

.cdk-drag-placeholder {
  height: 30px;
  background-color: yellow;
}

.example-custom-placeholder {
  background: #ccc;
  border: dotted 3px #999;
  height: 10px;
  width: 100%;
  margin: 24px 0;
}

.cdk-drop-list-receiving {
  background-color: plum;
}
