<div class="tree-node">
  <div class="tree-node-item">
    <ng-container *ngFor="let _ of [].constructor(node?.level || 0)">
      <div class="line-indent"></div>
    </ng-container>
    <div class="tree-node--name" cdkDrag (cdkDragMoved)="onDragMoved($event)">
      <div>
        {{ node.name }}
      </div>
      <button (click)="addChildNode(node)">+</button>
      <button (click)="removeNode(node)">-</button>
      <button [draggable]="true" cdkDragHandle>drag</button>
      <div class="drag-placeholder"></div>
    </div>
    <div
      class="tree-node--button"
      [class.default-node]="node.id == treeViewSerice.defaultNodeId"
    >
      <input
        type="radio"
        (change)="setNodeDefault(node)"
        [checked]="node.id == treeViewSerice.defaultNodeId"
        [value]="node.id"
      />
      <label for="defaultNode">Default</label>
    </div>
  </div>

  <ng-container *ngIf="node.children && node.children.length > 0">
    <div class="tree-node-children">
      <app-tree-node
        *ngFor="let childNode of node?.children; let last = last"
        [node]="childNode"
      >
      </app-tree-node>
    </div>
  </ng-container>
</div>
