<div class="tree-node">
  <div class="tree-node-item" cdkDrag>
    <div class="tree-node--name">
      <div>
        {{ node.name }}
      </div>
      <button (click)="addNode.emit(node)">+</button>
      <button (click)="onRemoveNode(node.id)">-</button>
    </div>
    <div class="tree-node--button">
      <input
        type="radio"
        name="defaultNode"
        (change)="setNodeDefault($event)"
        [value]="node.id"
      />
      <label for="defaultNode">Default</label>
    </div>
  </div>

  <ng-container *ngIf="node.children && node.children.length > 0">
    <div class="tree-node-children">
      <app-tree-node
        *ngFor="let childNode of node?.children; let last = last"
        [ngClass]="{ 'last-child': last }"
        [node]="childNode"
      >
      </app-tree-node>
    </div>
  </ng-container>
</div>
