<div class="container">
  <div class="tree-view">
    <trudi-decision-tree
      [dataSource]="(data | async) || []"
      (onAddNode)="logger($event)"
      (onRemoveNode)="logger($event)"
      (onSetDefaultNode)="logger($event)"
    ></trudi-decision-tree>
    <button (click)="addParentNode()">add parent node</button>
  </div>
  <div class="tree-view">
    <!-- <app-tree-view
      [dataSource]="data1"
      (onAddNode)="logger($event)"
      (onRemoveNode)="logger($event)"
      (onSetDefaultNode)="logger($event)"
    ></app-tree-view> -->
    <ant-tree-view></ant-tree-view>
  </div>
</div>
